#container{
    position: relative;
    margin: auto;
    width: 40vw;
    height: 40vw;
    /* background-color:red ; */
    background-image: url(clock.png);
    background-size: 100%;
    border: 2px solid black;
}
#hour, #minute, #second{
    position: absolute;
    
}